(app) {
    encode gzip zstd
    handle /api/* {
        reverse_proxy backend-{args[0]}:8000
    }
    handle {
        reverse_proxy web-{args[0]}:80
    }
}

{$CADDY_HOST} {
    import app prod
}

{$CADDY_HOST_PPE} {
    import app ppe
}
